*{
    margin:0;
    padding:0;
}

ul{
    list-style-type:None;
}

body{
    background-color:#f2f0f0;
    font-size:12px;
    color:#444444;
}

#header{
    height:135px;
    /* border:solid 1px red; */
    position:relative;
}

#logo{
    /* float:left;
    padding:30px 0 0 30px;*/
    position:relative;
    top:30px;
    left:30px
}

.clear{
    clear:both;
}

#top_menu{
    /* margin:40px 30px 0 0;
    float:right; */
    position:absolute;
    top:40px;
    left:1200px
}

#top_menu li{
    display:inline;
}

#main_menu li{
    display:inline;
    padding:0 20px 0 20px;

}

#main_menu{
    background-color:#4e4c4d;
    color:#ffffff;
    padding:12px;
    margin-top:15px;
    text-align:center;
    position:relative;
    top:30px;

}

